server:
    port: 8084

spring:
    application:
        name: kafka-practicum
    kafka:
        bootstrap-servers: localhost:9092

        producer:
            # ????????????? - ??????????? ??????? Java ? ??????? ??? Kafka (??? ????? ? ????????)
            key-serializer: org.apache.kafka.common.serialization.StringSerializer # ??????
            value-serializer: org.springframework.kafka.support.serializer.JsonSerializer # json
            properties:
                spring.json.add.type.headers: false # ????????? ?? ?????????? ? ???? Java ?????? ? ?????????

        consumer:
            group-id: my-consumer-group # ????????????? ?????? ????????????
            key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
            value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
            properties:
                spring.json.trusted.packages: "*"
                spring.json.use.type.headers: false

        retries: 3 # ?????????? ????????? ??????? ??? ??????? ????

        client-id: my-spring-app # ????????????? ???????

app:
    kafka:
        topic: my-topic